extend layout

block content    
    div(style={"margin":"5%", 'max-height':"90vh", "overflow":"auto"})
        .row(style={"width":"98%","margin-top":"2%"})
            .col-md-6.float-right
                img(src=`data:image/gif;base64,${pic}`, class="float-right" style={"border-radius":"50%", "height":"130px", "width":"110px"})
            .col.md-6(style={"margin":"auto"})
                h3(style={"color":"blue"}) !{fname} !{lname}
                h5(style={"color":"blue"}) Level: !{clevel}
        hr
        h3 Information
        hr(style={"margin":"0"})
        .row(style={"width":"96%", "margin-left":"2%"})
            .col-md-6
                h5(style={"margin-top":"10px"}) School: 
                p(style={"color":"blue","font-size":"18px"}) !{school}
                h5(style={"margin-top":"10px"}) Department:
                p(style={"color":"blue","font-size":"18px"}) !{dept}
            .col-md-6
                h5(style={"margin-top":"10px"}) Email:
                p(style={"color":"blue","font-size":"18px"}) !{email}
                h5(style={"margin-top":"10px"}) Level:
                p(style={"color":"blue","font-size":"18px"}) !{lvl}
        br
        a(href=`javascript:upg('${username}')`, class='btn btn-primary' style={'float':'right'}) Ugrade to Admin

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        function upg(a){
            var data = {user: a};
            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/upgUser',
                data: data,
            })
            .done(function(e){
                $('.ress').html(e);
            });
        }