extend layout

block content    
    div(style={"padding":"1%", "overflow":"auto", "width":"100%",})
        .row(style={"width":"98%","margin-top":"2%"})
            .col-md-6.float-right
                if(pic === 'No Picture')
                    img(src=`/images/logo.png`, class="float-right" style={"border-radius":"50%", "height":"130px", "width":"110px"})
                else
                    img(src=`data:image/gif;base64,${pic}`, class="float-right" style={"border-radius":"50%", "height":"130px", "width":"110px"})
            .col.md-6(style={"margin":"auto"})
                h3(style={"color":"blue"}) !{fname} !{lname}
                h5(style={"color":"blue"}) Level: !{clevel}
        hr
        h3 Information
        hr(style={"margin":"0"})
        .row(style={"width":"96%", "margin-left":"2%"})
            .col-md-6
                h5(style={"margin-top":"10px"}) School: 
                p(style={"color":"blue","font-size":"18px"}) !{school}
                h5(style={"margin-top":"10px"}) Department:
                p(style={"color":"blue","font-size":"18px"}) !{dept}
            .col-md-6
                h5(style={"margin-top":"10px"}) Email:
                p(style={"color":"blue","font-size":"18px"}) !{email}
                h5(style={"margin-top":"10px"}) Level:
                p(style={"color":"blue","font-size":"18px"}) !{lvl}
        br
        .row(style={"width":"100%","margin-top":"2%"})
            .col-md-3
                a(href=`javascript:upg('${username}', 'adm')`, class='btn btn-primary' style={'width':'100%', 'float':'right', 'margin-top':'10px'}) Ugrade to Admin
            .col-md-3
                a(href=`javascript:upg('${username}', 'sadm')`, class='btn btn-primary' style={'width':'100%','float':'right', 'margin-top':'10px'}) Ugrade to SuperAdmin
            .col-md-3
                a(href=`javascript:upg('${username}', 'cnt')`, class='btn btn-primary' style={'width':'100%','float':'right', 'margin-top':'10px'}) Make Contributor
            .col-md-3
                a(href=`javascript:deluser('${username}')`, class='btn btn-danger' style={'width':'100%', 'float':'right', 'margin-top':'10px'}) Delete User
        br
        h6(style={"text-align":"center"}, class="alert alert-danger", id ="ress")
        br
        

block scripts
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')
    script.
        function upg(a, b){
            var data = {user: a, st: b};
            $.ajax({
                type: 'post',
                url: '/upgUser',
                data: data,
            })
            .done(function(e){
                $('#ress').html(e);
            });
        }

        function deluser(a){
            var data = {user: a};
            $.ajax({
                type: 'post',
                url: '/deluser',
                data: data,
            })
            .done(function(e){
                $('#ress').html(e);
            });
        }