extend layout

block header
    link(rel='stylesheet', href='/stylesheets/slider.css')
    style.
        form {
            --background: white;
            --border: rgba(0, 0, 0, 0.125);
            --borderDark: rgba(0, 0, 0, 0.25);
            --borderDarker: rgba(0, 0, 0, 0.5);
            --bgColorH: 0;
            --bgColorS: 0%;
            --bgColorL: 98%;
            --fgColorH: 210;
            --fgColorS: 50%;
            --fgColorL: 38%;
            --shadeDark: 0.3;
            --shadeLight: 0.7;
            --shadeNormal: 0.5;
            --borderRadius: 0.125rem;
            --highlight: #306090;
            background: white;
            border: 1px solid var(--border);
            border-radius: var(--borderRadius);
            box-shadow: 0 1rem 1rem -0.75rem var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            position: relative;
            overflow: hidden;
        }

        .topa{
            width:60%;
            margin: auto;
            border: 1%;
            padding: 10px;
            margin-top: 10vh;
        }
        .hdd{
            font-family: 'Calisto MT';
            font-size: 25px;
        }

        .clegend{
            font-family: 'Calisto MT';
        }
        .qnu{
            margin-top:20px; 
            margin-right: 10px;
            text-align: center;
            font-weight: bold;
        }

        .qnu1{
            width:22%;
            margin: auto;
            border: 1%;
            padding: 10px;
        }

        .pp{
            margin-top:10px;
            margin-right: 10px;
        }

        @media screen and (max-width: 720px) {
            body{
                margin:0px;
                font-family: "Times New Roman", Times, serif
            }
            .hdd{
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
            }
            .topa{
                width:  100%;
                margin: auto;
                border: 5px;
                padding: 1%;
                margin-top: 5vh;
            }
            .clegend{
                font-size:25px;
                font-family: "Times New Roman", Times, serif;
            }
            .qnu{
                margin-top:20px; 
                text-align: center;
                font-weight: bold;
                float:'left';
            }

            .pp{
                margin-top:0px;
                margin-right: 0px;
            }
            
        }
block content
    div(class='topa')
        if(data)                
            form
                .slideshow-container
                    -for(dat of data)
                        .mySlides.faded
                            .row
                                .col-md-6
                                    p(class='qnu') Question Number
                                .col-md-6
                                    div(class='qnu1')
                                        input(readonly type="text" class="form-control" name="qnum" value=`${dat._id}` style={'text-align':'center'} id="qnum")
                            hr
                            div(class="form-group")
                                label(for='opt1') Question label
                                input(type="text" class="form-control" name="opt1" value=`${dat.label}` style={"margin-top":"10px","margin-right": "10px"} id=`label${dat._id}`)

                            div(class="form-group")
                                label(for='Question') Question
                                textarea.autofocus(autofocus name="Question" id=`que${dat._id}` class="md-textarea form-control" rows="3") !{dat.question}
                            
                                    
                            .row
                                .col-md-2
                                    a(href="javascript:plusSlides(-1)" style={"width":"100%", "margin-top":"20px"} class="btn btn-primary float-right") Previous
                                .col-md-2
                                    a(href=`javascript:deleteadessaypq(${pqid}, ${dat._id})` class='btn btn-danger float-right' id="rmf3b", style={"width":"100%", "margin-top":"20px"}) Delete
                                .col-md-3
                                    a(href=`javascript:MaAppressaypq(${pqid}, ${dat._id})` class='btn btn-primary float-right' id="rmf3b", style={"width":"100%", "margin-top":"20px"}) Modify and Approve
                                .col-md-2
                                    a(href=`javascript:approveessaypq(${pqid}, ${dat._id})` class='btn btn-primary float-right' id="rmf3b", style={"width":"100%", "margin-top":"20px"}) Approve
                                .col.md-2
                                    a(href="javascript:plusSlides(1)" style={"width":"100%", "margin-top":"20px"} class="btn btn-primary float-right") Next
                            br
        h6(style={"text-align":"center"}, class="alert alert-danger", id ="owness1")
        br

block scripts
    script(src='/javascripts/slider.js')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/bootstrap/js/bootstrap.bundle.min.js')